$primary-color: #F5D27A;
$secondary-color: #A88C43;
$tertiary-color: #3252A8;
$dark-color: #A88C43;
$light-color: #FFE299;

$menuColor: #3252A8;
$menuTextColor: rgba(255,255,255,0.9);

// $mobile: /* Mobile Width for Media Queries */;
// $tablet: /* Tablet Width for Media Queries */;
// $desktop: /* Desktop Width for Media Queries */;