/* ---------- Variables ---------- */
/* ---------- Universal ---------- */
* {
  margin: 0;
  padding: 0;
}

/* ---------- Body ---------- */
body {
  font-family: 'Arimo', sans-serif;
  /* max-width: 960px;
    margin: auto; */
}

header, nav, main, footer {
  max-width: 960px;
  margin: auto;
}

/* ---------- Header ---------- */
div.header-wrapper {
  background-image: linear-gradient(rgba(187, 187, 197, 0.5), rgba(212, 212, 199, 0.5)), url(https://source.unsplash.com/600x140/?nature,forest);
  height: 140px;
}

@media only screen and (min-width: 600px) {
  div.header-wrapper {
    background-image: linear-gradient(rgba(187, 187, 197, 0.5), rgba(212, 212, 199, 0.5)), url(https://source.unsplash.com/960x240/?nature,forest);
    height: 240px;
  }
}

@media only screen and (min-width: 960px) {
  div.header-wrapper {
    background-image: linear-gradient(rgba(187, 187, 197, 0.5), rgba(212, 212, 199, 0.5)), url(https://source.unsplash.com/1600x400/?nature,forest);
    height: 400px;
    background-size: cover;
    background-position: center;
  }
}

div.header-wrapper header {
  /* background-image: linear-gradient(rgba(134, 134, 141, 0.5), rgba(194, 194, 187, 0.5)), url(https://source.unsplash.com/featured/?nature,forest);
        background-size: cover; */
  /* h1, h2 {
            color: whitesmoke;
        } */
}

div.header-wrapper header h1 {
  padding-top: 6%;
  padding-bottom: .5%;
  padding-left: 2%;
}

div.header-wrapper header h2 {
  padding-bottom: 1rem;
  padding-left: 2%;
}

/* ---------- Navigation ---------- */
div.nav-wrapper {
  background-color: #5b472a;
}

div.nav-wrapper nav ul {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  background-color: #5b472a;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  div.nav-wrapper nav ul {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 960px) {
  div.nav-wrapper nav ul {
    justify-content: flex-start;
    width: 35%;
  }
}

div.nav-wrapper nav ul li {
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style-type: none;
  color: whitesmoke;
  width: 100%;
  height: 100%;
}

div.nav-wrapper nav ul li.active {
  color: whitesmoke;
  background-color: #32281a;
}

div.nav-wrapper nav ul li:hover {
  background-color: #7f68a6;
}

div.nav-wrapper nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  width: 100%;
  height: 100%;
}

/* ---------- Main ---------- */
div.main-wrapper {
  /* margin-left: 1rem;
    margin-right: 1rem; */
}

div.main-wrapper main {
  /* margin-left: 1rem;
        margin-right: 1rem; */
  /* display: flex;
        flex-wrap: wrap; */
}

div.main-wrapper main h1 {
  /* margin-top: .5rem;
            margin-bottom: .5rem; */
  margin: 1.5% 2% 1% 2%;
}

div.main-wrapper main div.cards {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

div.main-wrapper main div.cards div {
  background-color: #6FC78A;
  border-radius: 5px;
  margin: 2%;
  padding: 2%;
}

div.main-wrapper main div.cards div h2 {
  margin-bottom: .5rem;
}

div.main-wrapper main div.cards div img {
  max-height: 75px;
  position: relative;
}

@keyframes animalspin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.main-wrapper main div.cards div p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  text-align: left;
}

div.main-wrapper main div.cards div button {
  background-color: #4e3e6a;
  color: whitesmoke;
  padding: .5rem 4rem;
  border-radius: 5px;
  margin-top: .25rem;
  margin-bottom: .25rem;
  border-color: #66518A;
}

div.main-wrapper main div.cards div:hover img {
  animation: animalspin 2s 1;
}

@media only screen and (min-width: 600px) {
  div.main-wrapper main div.cards div {
    flex-basis: 42%;
    justify-content: space-evenly;
  }
}

@media only screen and (min-width: 960px) {
  div.main-wrapper main div.cards div {
    flex-basis: 25.3%;
    justify-content: space-evenly;
  }
}

/* ---------- Footer ---------- */
div.footer-wrapper {
  background-color: #5b472a;
}

div.footer-wrapper footer {
  margin-top: 1%;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #5b472a;
  color: whitesmoke;
}
