/* ---------- Variables ---------- */

$primary-color: #00533D;
$secondary-color: #FBFAF8;
$tertiary-color: #00A176;
$dark-color: #000000;
$light-color: #FBFAF8;

/* ---------- Universal ---------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
}

.header-nav-container, header, nav, .hero-container, .main-container, footer {
    max-width: 64rem;
    margin: auto;
}

.full-width-container {
    background-color: $secondary-color;
}

.header-nav-container {
    display: flex;
    // flex-wrap: wrap;
    // height: 100px;
    justify-content: space-between;
    background-color: $secondary-color;
}

button {
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    background-color: $primary-color;
    color: $light-color;
    cursor: pointer;
    // font-size: large; /* Don't forget to put this back */
    // width: 100%;
}

/* ---------- Header ---------- */

.header-container {
    background-color: $secondary-color;

    header {

        figure {

            img {
                max-height: 90px;
            }
        }
    }
}

/* ---------- Navigation ---------- */

.nav-container {
    background-color: $secondary-color;

    nav.normal-nav {
        display: none;

        @media only screen and (min-width: 49rem) {
            display: contents;
        }

        ul {
            display: flex;
            list-style-type: none;

            li {

                a {
                    display: block;
                    padding: 40px 20px;
                    text-decoration: none;
                    color: $dark-color;
                }

                &:hover {
                    background-color: darken($secondary-color, 10%);
                }
            }

            .active {
                background-color: darken($secondary-color, 15%);
            }
        }
    }

    nav.mobile-nav {
        display: flex;

        a {
            display: block;
            align-self: center;

            i {
                color: $primary-color;
                font-size: larger;
                margin: 1rem;
            }
        }

        @media only screen and (min-width: 49rem) {
            display: none;
        }
    }
}

/* ---------- Content ---------- */

.hero-container {
    
    picture {

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 25%;
            height: 20vh;
            background-size: contain;
        }
    }
}

.main-container {
    padding-left: 1rem;
    padding-right: 1rem;
    
    main {

        h1 {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        section.intro {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
            "h1"
            "1"
            "2"
            "3"
            "4"
            "5"
            "6"
            "7"
            "btn"
            "img"
            ;
            gap: 1rem;
            margin-bottom: 3rem;

            h1 {
                grid-area: h1;
            }

            p:nth-child(1) {
                grid-area: 1;
            }

            p:nth-child(2) {
                grid-area: 2;
            }

            p:nth-child(3) {
                grid-area: 3;
            }

            p:nth-child(4) {
                grid-area: 4;
            }

            p:nth-child(5) {
                grid-area: 5;
            }

            p:nth-child(6) {
                grid-area: 6;
            }

            p:nth-child(7) {
                grid-area: 7;
            }

            button {
                grid-area: btn;
                max-height: 50px;
                max-width: 100%;
                margin-top: 1rem;
            }

            img {
                grid-area: img;
                width: 100%;
                object-fit: cover;
                // height: 45vh;
                background-size: contain;
            }

            @media only screen and (min-width: 40rem) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas: 
                "h1 h1"
                "1 7"
                "2 btn"
                "3 img"
                "4 img"
                "5 img"
                "6 img"
                ;

                /* button {

                } */
            }
        }

        section.testimonials {

            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "h2"
            "p1"
            "p2"
            "p3"
            "p4"
            "p5"
            ;
            gap: 2rem;
            margin-bottom: 3rem;

            h2 {
                grid-area: h2;
            }

            p:nth-child(1) {
                grid-area: p1;
            }

            p:nth-child(2) {
                grid-area: p2;
            }

            p:nth-child(3) {
                grid-area: p3;
            }

            p:nth-child(4) {
                grid-area: p4;
            }

            p:nth-child(5) {
                grid-area: p5;
            }

            @media only screen and (min-width: 40rem) {
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                "h2 h2"
                "p1 p3"
                "p2 p5"
                "p4 ."
                ;
            }

            @media only screen and (min-width: 64rem) {
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-areas:
                "h2 h2 h2"
                "p2 p4 p5"
                "p1 p3 ."
                ;
            }
        }
    }
}

/* ---------- Footer ---------- */

.footer-container {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: $secondary-color;

    footer {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        padding-top: 65px;
        padding-bottom: 65px;

        h3 {
            margin-bottom: 1rem;
        }

        p {
            font-size: 14px;
        }

        a {
            text-decoration: none;
            color: $dark-color;
            font-size: 14px;
        }

        .office-info {

            .social {
                margin-top: 2rem;
                margin-bottom: 2rem;

                i {
                    font-size: 2rem;
                    margin-right: 1rem;
                }

                .fa-facebook-square {
                    color: #1969E0;
                }

                .fa-linkedin {
                    color: #0D5BBA;
                }
            }

        }

        .links {

            h3 {
                margin-top: 2rem;
                margin-bottom: 0.5rem;
            }

            @media only screen and (min-width: 40rem) {
                h3:nth-child(1) {
                    margin-top: 0;
                }
            }

            ul {
                list-style-type: none;

                li {
                    padding-bottom: .5rem;
                }
            }
        }

        @media only screen and (min-width: 40rem) {
            grid-template-columns: 1fr 1fr;
        }
    }
}