@charset "UTF-8";
/* ---------- Imports ---------- */
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* ---------- Variables ---------- */
/* ---------- Universal ---------- */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
}

.header-nav-container, header, nav, .hero-container, .main-container, footer {
  max-width: 64rem;
  margin: auto;
}

.full-width-container {
  background-color: #FBFAF8;
}

.header-nav-container {
  display: flex;
  justify-content: space-between;
  background-color: #FBFAF8;
}

button {
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  background-color: #00533D;
  color: #FBFAF8;
  cursor: pointer;
}

/* ---------- Header ---------- */
.header-container {
  background-color: #FBFAF8;
}

.header-container header figure img {
  max-height: 90px;
}

/* ---------- Navigation ---------- */
.nav-container {
  background-color: #FBFAF8;
}

.nav-container nav.normal-nav {
  display: none;
}

@media only screen and (min-width: 49rem) {
  .nav-container nav.normal-nav {
    display: contents;
  }
}

.nav-container nav.normal-nav ul {
  display: flex;
  list-style-type: none;
}

.nav-container nav.normal-nav ul li {
  /* Dropdown Navigation */
}

.nav-container nav.normal-nav ul li a {
  display: block;
  padding: 40px 20px;
  text-decoration: none;
  color: #000000;
}

.nav-container nav.normal-nav ul li:hover {
  background-color: #e8e3d8;
  /* Dropdown Navigation */
}

.nav-container nav.normal-nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-container nav.normal-nav ul li ul {
  background: #FBFAF8;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
  display: none;
}

.nav-container nav.normal-nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.nav-container nav.normal-nav ul li ul li {
  clear: both;
  width: 100%;
}

.nav-container nav.normal-nav ul .active {
  background-color: #dfd7c7;
}

.nav-container nav.mobile-nav {
  display: flex;
}

.nav-container nav.mobile-nav a {
  display: block;
  align-self: center;
}

.nav-container nav.mobile-nav a i {
  color: #00533D;
  font-size: larger;
  margin: 1rem;
}

@media only screen and (min-width: 49rem) {
  .nav-container nav.mobile-nav {
    display: none;
  }
}

div.hamburger-nav {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
  grid-template-areas: "x" "mn";
}

div.hamburger-nav a.jump {
  grid-area: x;
  height: 50px;
}

div.hamburger-nav a.jump i {
  color: #00533D;
  font-size: larger;
  margin: 1rem;
  float: right;
}

div.hamburger-nav nav {
  grid-area: mn;
}

div.hamburger-nav nav ul {
  display: grid;
  list-style-type: none;
}

div.hamburger-nav nav ul li {
  margin: auto;
  padding-bottom: 4rem;
}

div.hamburger-nav nav ul li a {
  display: block;
  text-decoration: none;
  color: #000000;
}

@media only screen and (min-width: 49rem) {
  div.hamburger-nav {
    display: none;
  }
}

/* ---------- Content ---------- */
.hero-container div img {
  width: 100%;
  object-fit: cover;
  object-position: 50% 25%;
  height: 20vh;
  background-size: contain;
}

.main-container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.main-container main h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.main-container main section.intro {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "h1" "1" "2" "3" "4" "5" "6" "7" "btn" "img";
  gap: 1rem;
  margin-bottom: 3rem;
}

.main-container main section.intro h1 {
  grid-area: h1;
}

.main-container main section.intro p:nth-child(1) {
  grid-area: 1;
}

.main-container main section.intro p:nth-child(2) {
  grid-area: 2;
}

.main-container main section.intro p:nth-child(3) {
  grid-area: 3;
}

.main-container main section.intro p:nth-child(4) {
  grid-area: 4;
}

.main-container main section.intro p:nth-child(5) {
  grid-area: 5;
}

.main-container main section.intro p:nth-child(6) {
  grid-area: 6;
}

.main-container main section.intro p:nth-child(7) {
  grid-area: 7;
}

.main-container main section.intro button {
  grid-area: btn;
  max-height: 50px;
  max-width: 100%;
  margin-top: 1rem;
}

.main-container main section.intro img {
  grid-area: img;
  width: 100%;
  object-fit: cover;
  background-size: contain;
}

@media only screen and (min-width: 40rem) {
  .main-container main section.intro {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h1 h1" "1 7" "2 btn" "3 img" "4 img" "5 img" "6 img";
    /* button {

                } */
  }
}

.main-container main section.testimonials {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "h2" "p1" "p2" "p3" "p4" "p5";
  gap: 2rem;
  margin-bottom: 3rem;
}

.main-container main section.testimonials h2 {
  grid-area: h2;
}

.main-container main section.testimonials p:nth-child(1) {
  grid-area: p1;
}

.main-container main section.testimonials p:nth-child(2) {
  grid-area: p2;
}

.main-container main section.testimonials p:nth-child(3) {
  grid-area: p3;
}

.main-container main section.testimonials p:nth-child(4) {
  grid-area: p4;
}

.main-container main section.testimonials p:nth-child(5) {
  grid-area: p5;
}

@media only screen and (min-width: 40rem) {
  .main-container main section.testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h2 h2" "p1 p3" "p2 p5" "p4 .";
  }
}

@media only screen and (min-width: 64rem) {
  .main-container main section.testimonials {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h2 h2 h2" "p2 p4 p5" "p1 p3 .";
  }
}

/* ---------- Footer ---------- */
.footer-container {
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #FBFAF8;
}

.footer-container footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-top: 65px;
  padding-bottom: 65px;
}

.footer-container footer h3 {
  margin-bottom: 1rem;
}

.footer-container footer p {
  font-size: 14px;
}

.footer-container footer a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.footer-container footer .office-info .social {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footer-container footer .office-info .social i {
  font-size: 2rem;
  margin-right: 1rem;
}

.footer-container footer .office-info .social .fa-facebook-square {
  color: #1969E0;
}

.footer-container footer .office-info .social .fa-linkedin {
  color: #0D5BBA;
}

.footer-container footer .links h3 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 40rem) {
  .footer-container footer .links h3:nth-child(1) {
    margin-top: 0;
  }
}

.footer-container footer .links ul {
  list-style-type: none;
}

.footer-container footer .links ul li {
  padding-bottom: .5rem;
}

@media only screen and (min-width: 40rem) {
  .footer-container footer {
    grid-template-columns: 1fr 1fr;
  }
}
