/* ---------- Variables ---------- */

$primary-color: #00533D;
$secondary-color: #FBFAF8;
$tertiary-color: #00A176;
$dark-color: #000000;
$light-color: #FBFAF8;

/* ---------- Content ---------- */

.hero-container {

    picture {

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 65%;
            height: 20vh;
            background-size: contain;
        }
    }
}

.main-container {

    main {

        h1 {
            margin-top: 1rem;
            margin-bottom: 1rem;
            text-align: center;
        }

        div.landscapes {
            max-width: 64rem;
            // margin: 1rem 1rem 0 1rem;
            
            figure {
                width: 100%;
                height: 0;
                padding-bottom: 80%;
                position: relative;
                margin: 0;
    
                img {
                    width: 100%;
                    height: auto;
                    position: absolute;
                }
            }
        }
    }
}