/* ---------- Variables ---------- */

$primary-color: #00533D;
$secondary-color: #FBFAF8;
$tertiary-color: #00A176;
$dark-color: #000000;
$light-color: #FBFAF8;

/* ---------- Content ---------- */

.hero-container {

    picture {

        img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 75%;
            height: 20vh;
            background-size: contain;
        }
    }
}

.main-container {
    
    main {

        .tool-cards {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            margin-bottom: 3rem;
            
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 162px;
                background-position: center;

                a {
                    display: block;
                    text-decoration: none;
                    color: $dark-color;
                    cursor: pointer;
                    text-shadow: 0 0 .5px $dark-color;
                }
            }

            div:nth-child(1) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/auto.jpg');
            }

            div:nth-child(2) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/business.jpg');

            }

            div:nth-child(3) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/credit-card.jpg');

            }

            div:nth-child(4) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/insurance.jpg');

            }

            div:nth-child(5) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/investment.jpg');

            }

            div:nth-child(6) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/loan.jpg');

            }

            div:nth-child(7) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/mortgage.jpg');

            }  

            div:nth-child(8) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/finance.jpg');

            }

            div:nth-child(9) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/retirement.jpg');

            }

            div:nth-child(10) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/savings.jpg');

            }

            div:nth-child(11) {
                background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(87, 109, 85, 0.73)), url('../images/tax.jpg');

            }

            /* div:nth-last-of-type(1n) {
                background-color: $tertiary-color;

                &:hover {
                    background-color: darken($tertiary-color, 5%);
                }
            }

            div:nth-of-type(2n) {
                background-color: $secondary-color;

                &:hover {
                    background-color: darken($secondary-color, 15%);
                }
            } */

            @media only screen and (min-width: 40rem) {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
        }
    }
}