/* ---------- Variables ---------- */

$primary-color: #E9EDFF;
$secondary-color: #747680;
$tertiary-color: #AEB1BF;
$dark-color: #3A3B40;
$light-color: #D1D5E6;

/* ---------- Universal ---------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

header, nav, main, .content-wrapper, footer {
    max-width: 1200px;
    margin: auto;
}

/* ---------- Header ---------- */

div.header-wrapper {
    background-color: $dark-color;

    header {
        color: $light-color;
        padding-bottom: 1rem;

        h1, h2 {
            margin-left: 1rem;
        }

        h1 {
            padding-top: 1.5rem;
            line-height: 2rem;
        }

        h2 {
            padding-bottom: 1rem;
        }
    }
}

/* ---------- Navigation ---------- */

div.nav-wrapper {
    background-color: $secondary-color;

    nav {

        ul {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;

            li {
                padding-top: .5rem;
                padding-bottom: .5rem;
                list-style-type: none;
                color: $light-color;
                width: 100%;
                height: 100%;

                &.active {
                    color: $light-color;
                    background-color: $dark-color;
                }

                &:hover {
                    background-color: $tertiary-color;
                }

                a {
                    text-decoration: none;
                    color: $light-color;
                    width: 100%;
                    height: 100%;
                }
            }

            @media only screen and (min-width: 1200px) {
                justify-content: flex-start;
                width: 35%;
            }
        }
    }
}

/* ---------- Content ---------- */

div.content-wrapper {

    h2 {
        margin: 1rem 1rem 0 1rem;
    }

    main {

        div.members {
            display: flex;
            flex-wrap: wrap;

            div {

                @media only screen and (min-width: 600px) {
                flex-basis: 50%;
                }

                @media only screen and (min-width: 900px) {
                flex-basis: 25%;
                }

                h3 {
                    margin: .5rem 1rem 0 1rem;
                }
    
                p {
                    margin: .5rem 1rem;
                }
            }   
        }
    }
}

/* ---------- Footer ---------- */

div.footer-wrapper {
    background-color: $dark-color;

    footer {
        margin-top: 1rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $light-color;
    }
}