/* ----- Variables ----- */
/* ----- Universal ----- */
* {
  margin: 0;
  padding: 0;
}

/* 
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
 */
/* ----- Body ----- */
body {
  font-family: 'Merriweather', serif;
  /* max-width: 1200px;
    margin: auto; */
}

/* ----- Header ----- */
div.header-wrapper {
  background-color: #FFFFCC;
}

header {
  /* background-color: $main-color; */
  max-width: 1200px;
  margin: auto;
  /* Logo */
}

header img {
  max-width: 75px;
  float: left;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  header img {
    max-width: 40px;
  }
}

header h1 {
  padding-top: 1rem;
}

@media only screen and (max-width: 600px) {
  header h1 {
    padding-bottom: 1rem;
  }
}

header h2 {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  header h2 {
    display: none;
  }
}

/* ----- Navigation ----- */
div.nav-wrapper {
  background-color: #111;
}

/* 
@media only screen and (max-width: 1200px) {
    div.nav-wrapper {
        
    }
}
 */
nav {
  background-color: #111;
  display: block;
  max-width: 1200px;
  margin: auto;
}

nav ul li {
  list-style-type: none;
  text-decoration: none;
}

nav ul li.active {
  background-color: #333;
}

nav ul li:hover {
  background-color: #444;
}

nav ul li a {
  display: block;
  padding: 1rem 2rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
}

@media only screen and (min-width: 601px) and (max-width: 1200px) {
  nav ul li {
    display: inline-flex;
    width: 25%;
    float: left;
    justify-content: space-evenly;
    background-color: #111;
  }
}

@media only screen and (min-width: 1200px) {
  nav ul {
    display: flex;
  }
}

/* ----- Main ----- */
/* 
div.main-wrapper {
    background-color: white;
}
 */
main {
  max-width: 1200px;
  margin: auto;
  /* Hero Image */
}

main img {
  width: 100%;
}

main img.hero {
  max-height: 40vh;
  object-fit: cover;
}

main h1 {
  margin: 0 1rem 0 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

main p {
  margin: 0 1rem 0 1rem;
  padding-bottom: 1rem;
}

figure {
  width: 33%;
  margin: 0 1rem 1rem 1rem;
  float: right;
}

@media only screen and (max-width: 1200px) {
  figure {
    width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  figure {
    width: 100%;
  }
}

/* ----- Footer ----- */
div.footer-wrapper {
  background-color: #FFFFCC;
}

footer {
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFCC;
  text-align: center;
  padding: 1.5rem 0;
}
