/* ---------- Variables ---------- */
/* Maybe #803B33? */
/* ---------- Universal ---------- */
* {
  margin: 0;
  padding: 0;
}

/* ---------- Body ---------- */
body {
  font-family: 'Inter', sans-serif;
  max-width: 1140px;
  margin: auto;
}

/* ---------- Header ---------- */
header {
  display: grid;
  grid-template-columns: 100px auto;
  /* background-color: $main-color; */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

header img {
  max-height: 100px;
  float: left;
  margin-left: 2rem;
}

header h1, header h2 {
  color: #401D1A;
  margin-top: 1rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

@media only screen and (max-width: 600px) {
  header h1, header h2 {
    margin-top: 1.5rem;
  }
}

header h2 {
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  header h2 {
    display: none;
  }
}

/* ---------- Navigation ---------- */
nav {
  background-color: #FF7566;
}

nav ul {
  display: flex;
  width: 100%;
}

nav ul li {
  list-style-type: none;
}

nav ul li.active {
  background-color: #b24b40;
}

nav ul li:hover {
  background-color: #522521;
}

nav ul li a {
  text-decoration: none;
  color: #401D1A;
  display: block;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: 100%;
}

nav ul li a:hover {
  color: #FCD4CD;
}

@media only screen and (min-width: 1140px) {
  nav ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    background-color: #FF7566;
  }
}

@media only screen and (max-width: 1140px) {
  nav ul li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }
}

/* ---------- Main ---------- */
main {
  color: #401D1A;
}

main h1 {
  margin-top: 1rem;
  margin-left: 2%;
}

main div.images-wrapper {
  display: flex;
  flex-wrap: wrap;
}

main div.images-wrapper figure {
  flex-basis: 46%;
  text-align: center;
  margin: 1rem 2%;
}

@media only screen and (min-width: 740px) {
  main div.images-wrapper figure {
    flex-basis: 29%;
  }
}

@media only screen and (min-width: 1140px) {
  main div.images-wrapper figure {
    flex-basis: 21%;
  }
}

main div.images-wrapper figure img {
  height: 200px;
  width: 100%;
  /* 200px */
  object-fit: cover;
}

/* ---------- Footer ---------- */
div.footer-wrapper {
  background-color: #FF7566;
}

footer {
  background: #FF7566;
  color: #401D1A;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
