/* ---------- Variables ---------- */

$primary-color: #74B5F9;
$secondary-color: #3A597A;
$tertiary-color: #5787BA;
$dark-color: #1C2B3B;
$light-color: #F9F9FF;

$gutter: 2vw;

/* ---------- Universal ---------- */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.header-wrapper, nav, main, .content-wrapper, footer {
    max-width: 1200px;
    margin: auto;
}

/* ---------- Header ---------- */

div.top-line {
    background-color: $dark-color;
    height: 15px;
}

header {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: .5rem;
    display: flex;
    justify-content: space-between;

    div.header-search {
        margin-top: 1rem;
        margin-right: .5rem;
    }
}

/* ---------- Navigation ---------- */

div.nav-wrapper {
    background-color: $secondary-color;

    nav {

        ul {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 100%;

            li {
                padding-top: .5rem;
                padding-bottom: .5rem;
                list-style-type: none;
                color: $light-color;
                width: 100%;
                height: 100%;

                &.active {
                    color: $light-color;
                    background-color: $dark-color;
                }

                &:hover {
                    background-color: $tertiary-color;
                }

                a {
                    text-decoration: none;
                    color: $light-color;
                    width: 100%;
                    height: 100%;
                }
            }

            @media only screen and (min-width: 1200px) {
                justify-content: flex-start;
                width: 35%;
            }
        }
    }
}

/* ---------- Content ---------- */

.content-wrapper {

    main {

        .flexed {
            margin-top: 1rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            /* .column {
                margin: 0 $gutter;
            } */

            @for $i from 1 through 12 {
                $w:($i / 12) * 100%;
                .small-#{$i} {flex-basis: $w}
            }

            @media only screen and (min-width: 720px) {
                @for $i from 1 through 12 {
                    $w:($i / 12) * 100%;
                    .medium-#{$i} {flex-basis: $w}
                }
            }

            @media only screen and (min-width: 900px) {
                @for $i from 1 through 12 {
                    $w:($i / 12) * 100%;
                    .large-#{$i} {flex-basis: $w}
                }
            }

            .advocates {
                margin-bottom: .5rem;
                text-align: center;
                background-color: $secondary-color;
                
                p {
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: $light-color;
                }

                img {
                    height: 200px;;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }

                button {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    padding: .5rem 2rem;
                    border-radius: 5px;
                    background-color: $primary-color;
                    color: $dark-color;
                }
            }

            .tiles {
                margin-bottom: 1rem;
                padding-top: 3rem;
                padding-bottom: 3rem;
                background-color: $dark-color;
                color: $light-color;
                text-align: center;

                /* @media only screen and (min-width: 720px) {
                    margin: 2rem 0;
                } */

                @media only screen and (min-width: 900px) {
                    height: 50px;
                    width: 150px;
                }

                p {
                    text-transform: uppercase;
                    font-size: 2rem;
                }
            }

            .blog-post {
                margin-bottom: .5rem;
                width: 250px;
                text-align: center;
                background-color: $secondary-color;

                h3 {
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                    color: $light-color;
                }

                p {
                    padding: .5rem .5rem;
                    color: $light-color;
                }

                img {
                    height: 200px;;
                    width: 100%;
                    object-fit: cover;
                }

                div {
                    background-color: $primary-color;

                    p {
                        padding-bottom: .5rem;

                        a {
                            text-decoration: none;
                            color: $dark-color;
                        }
                    }

                    
                }
            }

            .tip-faq {
                margin-bottom: .5rem;
                padding: .5rem;
                background-color: $tertiary-color;

                h3 {
                    margin-bottom: .5rem;
                    padding: 0 .5rem;
                    color: $light-color;
                }

                p {
                    padding: 0 .5rem;
                    color: $light-color;

                    a {
                        text-decoration: none;
                        color: $dark-color;
                    }
                }
            }
        }
    }
}

/* ---------- Footer ---------- */

div.footer-wrapper {
    background-color: $dark-color;

    footer {
        margin-top: 1rem;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: $light-color;

        .social {

            a {
                padding-left: 2rem;
                padding-right: 2rem;
                text-decoration: none;
                color: $light-color;
                font-size: 2rem;
            }

            a:hover {
                color: $tertiary-color;
            }
        }
    }
}
