/* ---------- Variables ---------- */
/* ---------- Universal ---------- */
* {
  margin: 0;
  padding: 0;
}

/* ---------- Body ---------- */
body {
  font-family: 'Nunito', sans-serif;
}

header, nav, main, .main-wrapper, footer {
  max-width: 1200px;
  margin: auto;
}

/* ---------- Header ---------- */
div.header-wrapper {
  background-color: #360F0C;
}

div.header-wrapper header {
  color: #F78A80;
  padding-bottom: 1rem;
}

div.header-wrapper header figure.logo {
  float: left;
}

div.header-wrapper header figure.logo img {
  margin: 1rem;
  height: 100px;
}

div.header-wrapper header h1, div.header-wrapper header h2 {
  margin-left: 1rem;
}

div.header-wrapper header h1 {
  padding-top: 1.5rem;
  line-height: 2rem;
}

div.header-wrapper header h2 {
  padding-bottom: 1rem;
}

/* ---------- Navigation ---------- */
div.nav-wrapper {
  background-color: #B53428;
}

div.nav-wrapper nav ul {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

div.nav-wrapper nav ul li {
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style-type: none;
  color: #F78A80;
  width: 100%;
  height: 100%;
}

div.nav-wrapper nav ul li.active {
  color: #F78A80;
  background-color: #360F0C;
}

div.nav-wrapper nav ul li:hover {
  background-color: #75423D;
}

div.nav-wrapper nav ul li a {
  text-decoration: none;
  color: #F78A80;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  div.nav-wrapper nav ul {
    justify-content: flex-start;
    width: 35%;
  }
}

/* ---------- Hero ---------- */
div.hero-wrapper {
  /* background-image: url(https://source.unsplash.com/featured/?food,fancy);
    background-size: cover;
    background-position: center;
    height: 10vh;

    @media only screen and (min-width: 600px) {
        height: 20vh;
    }

    @media only screen and (min-width: 1200px) {
        height: 40vh;
    } */
}

div.hero-wrapper picture img {
  width: 100%;
  object-fit: cover;
  object-position: top;
  height: 40vh;
  background-size: contain;
}

/* ---------- Main ---------- */
h2 {
  margin: 1rem 1rem;
}

div.main-wrapper main {
  display: flex;
}

div.main-wrapper main p {
  margin: 0 1rem;
}

div.main-wrapper main figure {
  text-align: center;
  margin: 0 1rem;
}

/* ---------- Footer ---------- */
div.footer-wrapper {
  background-color: #360F0C;
}

div.footer-wrapper footer {
  margin-top: 1rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #F78A80;
}
